body {
    font-family:sans-serif;
    margin-bottom:50px;
    background-color:#f5f5f5;
}
.cep-page-container {
	padding:50px;
	background-color:#fff;
}


.cep-content-container {
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
}

.cep-page-content {
    border-left: 1px solid #ccc;
    box-sizing: border-box;
    display: table-cell;
    padding: 20px;
    vertical-align: top;
}
.cep-footer-notice {
    color:#ccc;
}
.cep-footer-notice a {
    color:#ccc;
}

/* headlines */
.cep-headline-primary {
    background-image: url('./cep-logo-32.png');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    padding-left: 38px;
    padding-top:3px;
    font-size: 22px;
    line-height: 26px;
    height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}
.cep-headline-secondary {
    display: inline-block;
    font-size:16px;
    padding-left: 38px;
    font-weight:bold;
    margin-top:3px;
    margin-bottom:20px;
}
.cep-headline-tertiary {
    display: inline-block;
    font-size:16px;
    font-weight:normal;
    margin-top:0px;
    margin-bottom:20px;
}
.cep-tertiary-headline-icon:before {
    font-size:16px;
}


/* bootstrap fix */
.row {
    margin-top:15px;
}
.cep--no-margin {
    margin: 0;
}
.cep--no-padding {
    padding:0;
}
#resources_container {
    width:100%;
}


/* overwrite swagger-ui styles */
#swagger-ui-container {
    margin:0;
    padding:0;
    max-width:100%;
    width:100%;
}
#resources_container, #resources, .endpoints {
    margin:0;
    padding:0;
}
.footer, .info_title {
    display:none;
    visibility: hidden;
}